/**html, body {
    max-width: 100%;
    overflow-x: hidden;
    /**Handled issue where container content were hidden under nav bar by adding some padding to the top of the <body>.
    padding-top:1%;
}**/

ol, ul, li {
    list-style: none;
}

.divider-custom {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 7px;
  padding-top: 7px;
}


/**FOR MOBILE VIEW**/
.menu-toggle-name {
  position: absolute;
    bottom: -6px;
    left: 8px;
    font-size: 12px;
    text-transform: lowercase;
    color: #4eb7f5;
}

/**TOP NAVBAR**/


@media (min-width: 768px) {
  .navbar {
    border-radius: 1px;
    }
}

/**TOP NAVBAR END**/

.dropdown-img {
    padding-right: 1em;
    width: 25px;
    
}

.navbar-border {
    padding: 0 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.divider-vertical {
    height: 30px;
    margin: 0 1px;
    border-left: 1px solid #d6d6d6;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.navbar-custom {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
    background-color: #fff;
    border-color: #ffffff;
}

.navbar-custom .logo {
    color: #4eb7f5;
}

.navbar-custom .logo:hover,
.navbar-custom .logo:focus {
    color: grey;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a {
    color: #4eb7f5;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #4eb7f5;
}

/** FORM STYLES .navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #e7e7e7;
}**/

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #4eb7f5;
    color: #ffffff;
}

/** FROM NAVBAR-DEFAULT @media (max-width: 767px) {
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
}**/

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color:#4eb7f5 ;
}

.productdetail li {
	margin-bottom: 7px;
}

.product-description {
      color: #4D4E53;
      margin-top: 30px;
      padding-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-top: solid 1px #d6d6d6;
      border-bottom: solid 1px #d6d6d6;
}

.product-social-share {
      text-align: center;
      margin-top: 30px;
}

.product-social-share p a {
      margin: 0 10px 0 0;
      color: #fff;
      display: inline-block;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      line-height: 26px;
      font-size: 15px;
      text-align: center;
      vertical-align: bottom;
}


.product-social-share p a.facebook {
      background-color: #4460ae;
}

.product-social-share p a.instagram {
      background-color: #e53d6b;
}

.product-social-share p a.twitter {
      background-color: #4190cd;
}

.product-social-share p a.envelope {
      background-color: #1d9b72;
}

.product-social-share p a i {
      vertical-align: bottom;
      line-height: 26px;
}

a i.fa {
      margin: 0 5px;
}


.product-thumbs a {
      display: block;
      border-bottom: solid 3px transparent;
      padding-bottom: 10px;
}

.product-thumbs a.active {
      border-bottom-color: #4fbfa8;
}

.main-product {
    margin-bottom: 30px;
}

.main-image {
    margin-bottom: 40px;
}

.main-image-responsive {
    margin: 0 auto;
}

/*******************/
/*   CATEGORY    */
/*******************/
.main-container {
      min-height: 580px;
}

.headeroffset {
      padding-top: 5px;
}

.radio-container {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.panel {   
      margin-bottom: 10px;
      border-radius: 1px;
}

.panelheading-custom {
    border-top :2px solid;
    border-bottom: 0;
    border-color :#4eb7f5;    
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #f5f5f5;
    padding: 5px 30px;
}

.paneltitle-custom > a:hover {
    color :#4eb7f5;
}

.paneltitle-custom {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}

.panel.sidebar-menu {
      background: #fff;
      margin: 0 0 20px;
      border-left: none;
      border-right: none;
      box-sizing: border-box;
      border-radius: 0;
}

.panel.sidebar-menu .panel-heading {
      text-transform: uppercase;
      letter-spacing: .1em;
}

.panel-default>.panel-heading {
      color: #333;
      background-color: #fff;
      border-color: #666;
}

.category-menu {
      margin-bottom: 20px;
      text-transform: uppercase;
      /**font-weight: 700;**/
}

a {
      color: #4eb7f5;
}

.color-sorting li {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin: 0 0 9px 9px;
      padding left: 4px;
      border: 1px solid #fff;
}

.color-sorting li a, .color-sorting .color-sorting li .color-sorting-link {
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid #b3b3b3;
      text-indent: -9999px;
      overflow: hidden;
      border-radius: 10px;
}

.searchsortingcolor .color-sorting {
      margin-right:-12px;
      margin-left:-12px;
}

.color-sorting li a, .color-sorting-link {
      color: #044a88;
      font-size: 12px;
}

.color-soting li a {
      text-decoration: none!important;
}

.sort-beige a {
      background-color: beige!important;
}

.sort-blue a {
      background-color: blue!important;
}

.sort-yellow a {
      background-color: yellow!important;
}

.sort-white a {
      background-color: white!important;
}

.sort-pink a {
      background-color: pink!important;
}

.sort-red a {
      background-color: red!important;
}

.sort-purple a {
      background-color: purple!important;
}

.sort-green a {
      background-color: green!important;
}

.product-filter {
      border-bottom: 1px solid #d6d6d6;
      border-top: 1px solid #d6d6d6;
      clear: both;
      display: block;
      margin-bottom: 20px;
      padding-bottom: 7px;
      padding-top: 10px;
}

.w100 {
    width: 100%;
}

.product-filter select, .product-filter input {
    font-size: 13px;
}

.change-view a {
    border: 1px solid #d6d6d6;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    height: 34px;
    line-height: 23px;
    margin-right: 10px;
    margin-left: 5px;
    overflow: hidden;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.category-product {
    float: right;
    background: #ffffff;    
    min-height: 800px;
    position: relative;
}

.thumbnail {
    padding: 0 0 15px 0;
    /**border: none;**/
    border-radius: 0;
}


/**.thumb-height {
      height: 476px;
}**/

.caption h3 {
    font-size: 12px;
    text-align: center;

}

.caption p {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      color: #4eb7f5
}


.view-detail-btn {
    font-weight: 700;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 8px 9px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0;
    cursor: pointer;
    text-align:center;
    margin:auto;
}

.panel {   
      margin-bottom: 10px;
      border-radius: 1px;
}

.panelheading-custom {
    border-top :2px solid;
    border-bottom: 0;
    border-color :#4eb7f5;    
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #f5f5f5;
    padding: 10px 15px;
}

.paneltitle-custom > a:hover {
    color :#4eb7f5;
}

.paneltitle-custom {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  font-weight: 700;
}

.panel.sidebar-menu {
      background: #fff;
      margin: 0 0 20px;
      border-left: none;
      border-right: none;
      box-sizing: border-box;
      border-radius: 0;
}

.panel.sidebar-menu .panel-heading {
      text-transform: uppercase;
      letter-spacing: .1em;
}

.panel-default>.panel-heading {
      color: #333;
      background-color: #fff;
      border-color: #666;
}


/*******************/
/* END OF CATEGORY */
/*******************/

/*******************/
/* CONTACT US       */
/*******************/

.form-control {
    height: 50px;
    border-radius: 1px;
}


.btn-cust {
    color: #ffffff;
    background-color: #4eb7f5;
    border-color: #4eb7f5;
    border-radius: 1px;
}

.btn-cust:focus,
.btn-cust.focus {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}

.btn-cust:hover {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.submit-btn {
    background: #4EB5F7;
    border: solid #4EB5F7;
    border-width: 1px 1px 1px 0;
    color: #fff;
    height: 34px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 23px 0 0 0;
    height: 50px;
}

#submit {
    margin: 23px 0 0 0;
}


.search-btn {
    background: #ffffff;
    border: solid #4eb7f5;
    border-width: 1px 1px 1px 0;
    color: #4eb7f5;
    height: 34px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.input-group .form-control {
    background: #ffffff;
    border: solid #4eb7f5;
    border-width: 1px 0 1px 1px;
    color: #4D4E53;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/***********************/
/*      FOOTER         */
/***********************/


.footer-cust {
    background: #f2f2f2;
    height: auto;
    padding-bottom: 30px;
    /**position: relative;**/
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #DDDDDD;
}

.footer-cust h3,h4{
    border-bottom: 1px solid #583937;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 0 10px;
    text-transform: uppercase;
    color: #4eb5f7;
}

.footer-cust a {
    color: #583937;
}

.footer-cust li {
    margin-bottom: 10px;
}

.footer-cust ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
    color: #888888;
}

/*******************/
/* END OF FOOTER */
/*******************/